<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'scope:index' %}">Archimage</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        
        <li{% if '/setup' in request.path %} class="active"{% endif %}>
          <a href="{% url 'scope:setup' %}">Setup</a>
        </li>

        <li{% if '/align' in request.path %} class="active"{% endif %}>
          <a href="{% url 'scope:align' %}">Align</a>
        </li>

        <li{% if '/track' in request.path %} class="active"{% endif %}>
          <a href="{% url 'scope:track' %}">Track</a>
        </li>

        <li>
          <a href="{% url 'api:index' %}">API</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<!-- Shortcut Pannel -->
<div class="row centered-form center-block">
  <div class="containder col-md-10 col-md-offset-1">


    <div class="checkbox">
      <label>
        <input id="toggle-shortcuts" type="checkbox" data-toggle="toggle" data-on="Shortcuts On" data-off="Shortcuts Off" data-offstyle='default' data-onstyle='primary' data-target="#collapseExample" unchecked>
        <div id="console-event"></div>
      </label>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="row centered-form center-block">

        <div class="container stretch">
          <div class="well row">

            <div class="row text-center">

              <button type="submit" class="btn btn-primary" onclick="SendCommand('find_home',null)">
                <span class="glyphicon glyphicon-home"></span> Find Home
              </button>

              <!--
              <button type="submit" class="btn btn-primary" onclick="SendCommand('goto',null)">
              <span class="glyphicon glyphicon-screenshot"></span> GOTO
              </button>
              -->

              <div class="checkbox">
                <label>
                  <input id="toggle-tracking" type="checkbox" data-toggle="toggle">
                  Sidereal Tracking
                </label>
              </div>

              <button type="submit" class="btn btn-primary" onclick="SendCommand('sync',null)">
                <span class="glyphicon glyphicon-check"></span> SYNC
              </button>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>


