{% include 'scope/base.html' %}

{% block content %}
<div class="row centered-form center-block">
	<div class="containder col-md-10 col-md-offset-3">
	  <h1 class="page-header">Archimage Console</h1>
	  <p class="lead">A web client for the Archimage Python API (testing automated docker build...)</p>
	  <hr>
	  <h2>Background</h2>
	  <p>This web application provides a REST API and browser-based UI for the Archimage python driver.  All mount functions are acessible through this site.</p>
	</div>
</div>
{% endblock %}