{% load static %}
{% block content %}
<div class="container stretch">
	<div class="well row">

		<div class="checkbox">
		  <label>
		    <input id="toggle-monitor" type="checkbox" data-toggle="toggle" data-on="Monitoring" data-off="Monitor Off" data-offstyle='default' data-onstyle='primary' unchecked>
		  </label>
		</div>

		<div id="monitor-display" style="display: none;">

			<!-- <pre id="demo_readout"></pre> -->

			<!-- Table of Values -->
			<div>
				
				Not sure what the best way to break these out is...

				<div class="panel panel-default">
				  <div class="panel-heading">Pointing</div>
				  <div class="panel-body">
				    <pre id="pointing_readout"></pre>
				  </div>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading">Tracking</div>
				  <div class="panel-body">
				    <pre id="tracking_readout"></pre>
				  </div>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading">Target</div>
				  <div class="panel-body">
				    <pre id="target_readout"></pre>
				  </div>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading">Status Code</div>
				  <div class="panel-body">

				    <pre id="status_readout"></pre>
				  </div>
				</div>

			</div>

	</div>
</div>
</div>
{% endblock %}