{% load static %}
{% include 'scope/base.html' %}
<div class="row centered-form center-block">
	<div class="containder col-md-10 col-md-offset-5">

		{% include 'scope/monitor.html' %}

		<h3>Serial Connection</h3>

		<div class="checkbox">
		  <label>
		    <input id="toggle-connection" type="checkbox" data-toggle="toggle" data-on="Connected" data-off="Disconnected" data-offstyle='danger' data-onstyle='primary' unchecked>
		  </label>
		</div>

		<h3>Home</h3>

		<div class="btn-toolbar">
			<button id="home_setup" type="submit" class="btn btn-primary">
	  			<span class="glyphicon glyphicon-magnet inline-block"></span><br/>Home Setup
			</button> 
			<button id="home_find" type="submit" class="btn btn-primary">
	  			<span class="glyphicon glyphicon-home"></span><br/>Home
			</button>
		</div>

		<h3>Park</h3>

		<div class="btn-toolbar">
			<button id="park_set" type="submit" class="btn btn-primary">
	  			<span class="glyphicon glyphicon-bookmark"></span><br/>Set Park Position
			</button> 
			<button id="park" type="submit" class="btn btn-primary">
	  			<span class="glyphicon glyphicon-circle-arrow-right"></span><br/>Park Scopes
			</button>
		</div>

		{% include 'scope/flags.html' %}
		
		<h3>Helpers</h3>

		<div class="btn-toolbar">
			<button id="align_level_south" type="submit" class="btn btn-primary">
	  			<span class="glyphicon glyphicon-ok-circle inline-block"></span><br/>Align Level & South
			</button> 
			<button id="clear_tracking_rates" type="submit" class="btn btn-danger">
	  			<span class="glyphicon glyphicon-remove inline-block"></span><br/>Clear Tracking Rates
			</button>
		</div>

	</div>
</div>
